.ds-coffe {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.item-coffe {
  text-align: center;
}
.thumb {
  height: 200px;
  width: 200px;
}
.edit {
  display: flex;
  justify-content: space-between;
}
